.sign-up-form-container,
.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  form {
    width: 400px;
    position: relative;
    top: -30px;
  }
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  input {
    padding: 10px;
  }
  label {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    & > p {
      color: crimson;
    }
  }
  span {
    font-size: 1.6rem;
  }
  .error {
    border: 1px solid crimson;
    background: pink;
    text-align: center;
    padding: 20px;
    font-size: 1.6rem;
  }
}

button {
  display: inline-block;
  padding: 0.7em 1.7em;
  margin-top: 20px;
  border-radius: 0.2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #ffffff;
  background-color: #3369ff;
  box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
    inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
    inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
  text-align: center;
  position: relative;
}

.dynamic-welcome {
  margin-top: 10px;
  font-size: 25px;
  color: #c889ff;
}
