//     <div style={{ height: "100%" }}>
//       <Header />
//       <div className="home-full-bg">
//         <div className="home-container">
//           <div className="home-image" />
//           <div className="search-template">
//             <i className="fa fa-search"></i> <span> Find Music</span>
//             <p>
//               {" "}
//               Just tell us how you are feeling and we got you! Finding music by
//               mood has never beene asier. Either in a dance mood or getting over
//               breakup, we have something to play for you.
//             </p>
//           </div>
//           <div className="favorite-template">
//             <i className="fas fa-heart"></i> <span> Save Your Favorites</span>
//             <p>
//               {" "}
//               When you like a song, simply click the like button and we will
//               save it to your favorite songs list You can come back and listen
//               to your favorite songs whenenever you want!
//             </p>
//           </div>
//         </div>
//         <footer>
//           <div className="footer-content">
//             <p>Song Surfer Est 2020</p>
//           </div>
//         </footer>
//       </div>
//     </div>
//   );

.home-full-bg {
  position: relative;
  .home-container {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    width: 100%;
    margin: 0 auto;

    .subtitle {
      font-style: normal;
      font-weight: 600;
      font-size: 6rem;
      position: absolute;
      left: 2rem;
      top: 10%;
      color: #ffffff;
      font-family: "Open Sans", sans-serif;

      @media (max-width: 450px) {
        font-size: 4rem;
      }
    }

    .home-image {
      background: $dark-blue url("../../img/home-bg.png") no-repeat;
      background-size: cover;
      height: 70vh;
    }

    .search-favorites-container {
      padding: 5rem;
      display: flex;
      flex-direction: column;
    }
  }
}

.favorite-template {
  align-self: flex-end;
}

.search-template i,
.favorite-template i {
  font-size: 130px;
}

.search-template span,
.favorite-template span {
  font-size: 20px;
  margin-left: 10px;

  @media (max-width: 400px) {
    display: none;
  }
}
.search-template p,
.favorite-template p {
  max-width: 400px;
}
footer {
  height: 80px;
  width: 100%;
  background-color: #141534;
}
.footer-content {
  display: flex;
  justify-content: center;
  width: 100%;
  color: white;
  font-size: 20px;
}
