.login-form-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.login-form {
  display: flex;
  flex-direction: column;
  h1 {
    font-size: 2rem;
  }
  input {
    padding: 10px;
  }
  label {
    margin-top: 10px;
    font-size: 1.6rem;
  }
  button {
    margin-top: 20px;
    padding: 0.7em 1.7em;
  }
  .error {
    border: 1px solid crimson;
    background: pink;
    text-align: center;
    padding: 20px;
  }
  .signup_successful {
    border: 1px solid darkgreen;
    background: #acdf87;
    color: darkgreen;
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
  }
  @media (max-width: 500px) {
    input {
      width: 60%;
    }
    label {
      align-self: center;
    }
  }
}
