.header-container {
  background-color: #141534;
  height: 130px;
  display: flex;
  justify-content: center;
}

.logo {
  max-height: 150px;
  width: 130px;
  position: absolute;
  left: 10px;
}
.header-links-container {
  position: absolute;
  right: 10px;
}

.header-links {
  margin: 10px;
}

.header-title {
  color: white;
  font-family: "Permanent Marker";
  font-size: 18px;
}

.header-container a {
  color: white;
  text-decoration: none;
  font-family: "Permanent Marker";
  font-size: 16px;
  margin: 10px;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 5px;
  transition: all 0.4s ease;
}

.header-container a:hover {
  background-color: #c889ff;
}

.search-form {
  position: absolute;
  top: 90px;
}
