.home-full-bg {
  background: #666 url("../img/home-bg.png") no-repeat;
  background-size: cover;
  height: 100%;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  width: 1024px;
  margin: 0 auto;
  padding: 60px 0 0 0;
}

.favorite-template {
  align-self: flex-end;
}

.search-template i,
.favorite-template i {
  font-size: 130px;
}

.search-template span,
.favorite-template span {
  font-size: 20px;
  margin-left: 10px;
}
.search-template p,
.favorite-template p {
  max-width: 400px;
}
footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: #141534;
}
.footer-content {
  display: flex;
  justify-content: center;
  width: 100%;
  color: white;
  font-size: 20px;
}
