.login-form-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.login-form {
  display: flex;
  flex-direction: column;
}
.login-form input {
  padding: 10px;
}
.login-form label {
  margin-top: 10px;
}

.login-form button {
  margin-top: 20px;
}

.login-form .error {
  border: 1px solid crimson;
  background: pink;
  text-align: center;
  padding: 20px;
}
